:root {
    --couleur-principale: #278E9E;
    --couleur-p-sombre:   #1e7886;
    --couleur-p-clair:    #50b5c5;
    --couleur-secondaire: #1F3344; 
    --bleu-petrole:       #035164;
    --rose:               #E2007A;
    --rose-sombre:        #cb016e;
    --noir:               #000;
    --blanc:              #FFF;
    --blanc-casser:       #f1f4f6;
    --gris-clair:         #CCCCCB;
    --gris-moyen:         #828594;
    --orange:	          #F29400;
    --orange-theme:       #eb691d;
}