{% extends 'back/dashboard/menu.html.twig' %}

{% block title %}Code Init{% endblock %}

{% block body %}

    <div class="container">
        <div class="row my-3">
            <div class="col-12">
                <h2>Tableau de Bord</h2>
                <p>Bienvenue sur votre plateforme d'aministration en ligne de Code Init</p>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{% endblock %}