{{ form_start(formUser) }}
<div class="form-group">
    <button type="submit" class="btn btn-validation"><i class="far fa-save btn-icon-validation"></i>Enregistrer</button>
</div>
{{ form_end(formUser) }}