{% extends 'back/dashboard/menu.html.twig' %}

{% block title %}Code Init{% endblock %}

{% block body %}
    <h2 class="text-center">Modifier un utilisateur</h2>
    <p>Vous Pouvez Modifier un utilsateur en utilisant ce formulaire</p>
    <div>{{ include('back/user/form.html.twig') }}</div>
{% endblock %}

{% block javascripts %}
{% endblock %}