@import '~bootstrap';

/* General */

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li {
    list-style: none;
}

.font-1{
    font-family: 'Baloo 2', cursive;
}

.font-2{
    font-family: 'Lato', sans-serif;
}
/* side bar */
.spanNav{
    font-size:30px;
    cursor: pointer;
    color: #fff;
    font-family:'Lato',sans-serif;
    float: right;
    padding: 20px
}
.sidenav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.45);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sidenav div{
    width:20%;
    margin: 0 20px;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Responsive style */
@media only screen and (min-width: 980px) and (max-width: 1279px) {
    /* For desktop: */
    .large-1 {width: 8.33%;}
    .large-2 {width: 16.66%;}
    .large-3 {width: 25%;}
    .large-4 {width: 33.33%;}
    .large-5 {width: 41.66%;}
    .large-6 {width: 50%;}
    .large-7 {width: 58.33%;}
    .large-8 {width: 66.66%;}
    .large-9 {width: 75%;}
    .large-10 {width: 83.33%;}
    .large-11 {width: 91.66%;}
    .large-12 {width: 100%;}

    .hide{
        display: none;
    }
    footer div div{
        font-size: 14px;
    }
    form{
        min-height: 65vh!important;
    }
}

@media only screen and (min-width: 520px) and (max-width: 979px) {
    /* For tablets: */
    .medium-1 {width: 8.33%;}
    .medium-2 {width: 16.66%;}
    .medium-3 {width: 25% !important;}
    .medium-4 {width: 33.33%;}
    .medium-5 {width: 41.66%;}
    .medium-6 {width: 50%;}
    .medium-7 {width: 58.33%;}
    .medium-8 {width: 66.66%;}
    .medium-9 {width: 75%;}
    .medium-10 {width: 83.33%;}
    .medium-11 {width: 91.66%;}
    .medium-12 {width: 100%;}

    .hide{
        display: none;
    }
    footer div div{
        font-size: 14px;
    }
    form{
        min-height: 68vh!important;
    }
}

@media only screen and (min-width: 260px) and (max-width: 519px) {
    /* For mobile: */
    .small-1 {width: 8.33%;}
    .small-2 {width: 16.66%;}
    .small-3 {width: 25%;}
    .small-4 {width: 33.33%;}
    .small-5 {width: 41.66%;}
    .small-6 {width: 50%;}
    .small-7 {width: 58.33%;}
    .small-8 {width: 66.66%;}
    .small-9 {width: 75%;}
    .small-10 {width: 83.33%;}
    .small-11 {width: 91.66%;}
    .small-12 {width: 100%;}

    .hide{
        display: none;
    }
    footer div div{
        font-size: 14px;
    }


}

@media only screen and (max-width: 259px) {
    /* For watch: */
    .xSmall-1 {width: 8.33%;}
    .xSmall-2 {width: 16.66%;}
    .xSmall-3 {width: 25%;}
    .xSmall-4 {width: 33.33%;}
    .xSmall-5 {width: 41.66%;}
    .xSmall-6 {width: 50%;}
    .xSmall-7 {width: 58.33%;}
    .xSmall-8 {width: 66.66%;}
    .xSmall-9 {width: 75%;}
    .xSmall-10 {width: 83.33%;}
    .xSmall-11 {width: 91.66%;}
    .xSmall-12 {width: 100%;}

    .hide{
        display: none;
    }
    footer div div{
        font-size: 14px;
    }

}