@import '~bootstrap';

/* General */

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li {
    list-style: none;
}

.font-1{
    font-family: 'Baloo 2', cursive;
}

.font-2{
    font-family: 'Lato', sans-serif;
}

