@import '~bootstrap';

/* General */

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li {
    list-style: none;
}
.btn-init{
    background: linear-gradient(180deg,#67A8FF,#66C7FF,#65E9FF);
    border-radius: 20px;
    text-decoration: none;
}

.btn-init-white{
    border-radius: 20px;
    border: 1px white solid;
}
/* Header */
header{
    background-image: url("../../public/build/images/Accueil.png");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
}

/* Main */

.wrapper-doc{
    background: linear-gradient(180deg,#67A8FF,#66C7FF,#65E9FF);
    border-radius: 20px;
}

