.btn-init{
background: linear-gradient(180deg,#67A8FF,#66C7FF,#65E9FF);
border-radius: 20px;
text-decoration: none;
}

.btn-init-white{
border-radius: 20px;
border: 1px white solid;
}

.color-init{
    background-color: rgba(112,112,112,0.12);
}
/* Header */
header{
background-image: url("../../public/build/images/Accueil.png");
height: 100vh;
background-size: cover;
background-repeat: no-repeat;
background-position: top left;
}
/* side bar */

.spanNav{
    font-size:30px;
    cursor: pointer;
    color: #fff;
    font-family:'Lato',sans-serif;
    float: right;
    padding: 20px
}

.sidenav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.45);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sidenav div{
    width:20%;
    margin: 0 20px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* Main */

.wrapper-doc{
background: linear-gradient(180deg,#67A8FF,#66C7FF,#65E9FF);
border-radius: 20px;
}

.input__inner{
    width: 250px;
    border-radius: 20px;
}

textarea{
    resize: none!important;
    min-height: 150px!important;
    border-radius: 20px!important;
    border: none!important;
}

/* Responsive style */

@media only screen and (min-width: 520px) and (max-width: 979px) {
    /* For tablets: */
    .medium-1 {width: 8.33%;}
    .medium-2 {width: 16.66%;}
    .medium-3 {width: 25%;}
    .medium-4 {width: 33.33%;}
    .medium-5 {width: 41.66%;}
    .medium-6 {width: 50%;}
    .medium-7 {width: 58.33%;}
    .medium-8 {width: 66.66%;}
    .medium-9 {width: 75%;}
    .medium-10 {width: 83.33%;}
    .medium-11 {width: 91.66%;}
    .medium-12 {width: 100%;}

    header{
        background-size: 100% 100%;
        background-image: url("../../public/build/images/Accueil-responsive.png");
    }
    .hide{
        display: none;
    }
    .size-1{
        font-size: 3.4rem!important;
        color: #6c757d;
        margin: 2% 0;
    }

    footer div div{
        font-size: 14px;
    }
}

@media only screen and (min-width: 260px) and (max-width: 519px) {
    /* For mobile: */
    .small-1 {width: 8.33%;}
    .small-2 {width: 16.66%;}
    .small-3 {width: 25%;}
    .small-4 {width: 33.33%;}
    .small-5 {width: 41.66%;}
    .small-6 {width: 50%;}
    .small-7 {width: 58.33%;}
    .small-8 {width: 66.66%;}
    .small-9 {width: 75%;}
    .small-10 {width: 83.33%;}
    .small-11 {width: 91.66%;}
    .small-12 {width: 100%;}

    .hide{
        display: none;
    }
    footer div div{
        font-size: 14px;
    }
    .size-1{
        font-size: 2rem!important;
    }
}

@media only screen and (max-width: 259px) {
    /* For watch: */
    .xSmall-1 {width: 8.33%;}
    .xSmall-2 {width: 16.66%;}
    .xSmall-3 {width: 25%;}
    .xSmall-4 {width: 33.33%;}
    .xSmall-5 {width: 41.66%;}
    .xSmall-6 {width: 50%;}
    .xSmall-7 {width: 58.33%;}
    .xSmall-8 {width: 66.66%;}
    .xSmall-9 {width: 75%;}
    .xSmall-10 {width: 83.33%;}
    .xSmall-11 {width: 91.66%;}
    .xSmall-12 {width: 100%;}


    .hide{
        display: none;
    }
    footer div div{
        font-size: 14px;
    }

}