{% include '_base/_header.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
{% endblock %}
<div class="container">

    <style>
        h2 {
            font-size: 24px;
            font-weight: 700;
            margin-top: 50px;
            margin-bottom: 10px;
        }
    </style>

    <div class="container my-5">
        <h1 class="my-3">Mentions légales</h1>

        <p><b>Pour un plus grand respect des libertés de chacun, code-init.fr respecte les dispositions suivantes :</b></p>

        <h2>Loi du 6 janvier 1978 relative à l'informatique et aux libertés :</h2>
        <p>Conformément à la loi n° 78-17 du 6 janvier 1978, vous pouvez à tout moment accéder aux informations personnelles vous concernant et détenues, demander leur modification ou leur suppression par l'envoi d'un mail à <a href="mailto:contact@Code-Init.fr">contact@Code-Init.fr</a></p>

        <h2>Ce site est édité par la société :</h2>

        <p>Code-Init.fr<br>
            22 avenue Robert Schumann<br>
            33700 MERIGNAC (France)</p>

        <h2>Recueil d'informations à caractère nominatif : </h2>
        <p>En vertu de la loi informatique et libertés du 6 janvier 1978, nous vous informons que les données à caractère nominatif recueillies auprès des internautes par l'intermédiaire d'un formulaire ou autre ne sauraient, en aucun cas, être transmises, à titre gratuit ou onéreux, à des tiers personnes physiques ou morales sauf évolution des conditions générales.</p>

        <h2>Titularité des droits : </h2>
        <p>Tous les éléments de ce site sont la propriété des éditeurs de ce site, à l'exclusion des éléments émanant de partenaires. La protection du site Code-Init.fr relève, par conséquent, des législations nationales et internationales relatives au droit de la propriété intellectuelle. Dès lors, toute reproduction et/ou représentation et/ou rediffusion, en tout ou partie, sur tout support électronique ou non, présent ou futur, sont interdites sauf autorisation expresse et préalable.</p>
        <p>Code-Init.fr décline toute résponsabilité des éléments émanant des pages clients, celles-ci demeurant sous la responsabilité de leur créateurs respectifs.</p>

        <h2>Liens hypertexte :</h2>
        <p>Code-Init.fr autorise tout site Internet ou tout autre support à citer le site ou à mettre en place un lien hypertexte pointant vers l'adresse https://Code-Init.fr. Un email pour nous prevenir sera toutefois le bienvenu :-)</p>

        <h2>Propriété intellectuelle :</h2>
        <p>Tous les éléments graphiques, la structure et, plus généralement, le contenu du site </p>
        <p>Code-Init.fr sont protégés par le droit d'auteur, le droit des marques et le droit des dessins et modèles. </p>
        <p>Les espaces clients sont eux sous la responsabilité de leurs créateurs respectifs et ne saurait engager la responsabilité de Code-Init.fr.</p>
        <p>La reproduction d’une page du site dans un cadre extérieur à Code-Init.fr ou l’insertion d’une page appartenant à Code-Init.fr dans la page d’un autre site est interdite à l'exception de tout accord motivé expressément par écrit par Code-Init.fr. De même, toute reproduction ou représentation du site en partie ou en totalité est interdite sans l'accord écrit de Code-Init.fr et constituerait une contrefaçon sanctionnée par les articles L. 335-2 et suivants du Code de la Propriété Intellectuelle.</p>
        <p>Toute personne qui recueille ou télécharge du contenu ou des informations diffusées sur le site ne dispose sur ceux-ci que d’un droit d’usage privé, personnel et non transmissible. A l'exception de tout accord motivé expressément par écrit par Code-Init.fr </p>

        <h2>Collecte et utilisation des données à caractère personnel :</h2>
        <p>La collecte des données à caractère personnel pour les prestations proposées par le site Code-Init.fr ainsi que leur traitement sont effectués dans le respect de la loi « Informatique, Fichiers et Libertés » du 6 janvier 1978 modifiée et ses décrets d’application.</p>

        <h2>Prix</h2>
        <p>Les prix sont indiqués en euros toutes taxes comprises (au taux de TVA français de 20%).</p>
        <p>Vous n’avez pas à prendre en charge les frais de traitement de la commande, ni les commissions versées aux organismes de paiement. C’est nous qui les payons.</p>
        <p>Le prix des articles peut être modifié à tout moment, mais le tarif appliqué à une commande est toujours celui annoncé au moment de la commande.</p>

        <h2>Commande</h2>
        <p>Le paiement est n'est pas requis au moment de la commande, car elle nécéssite une validation de Code init.</p>

        <h2>Accès et livraison</h2>
        <p>Immédiatement après avoir effectué votre commande, vous retrouvez le detail de votre commande via votre espace personnel.</p>

        <h2>Conditions de remboursement</h2>
        <p>La garantie de remboursement dépend de ce qui est mentionné sur la page qui présente le produit.</p>
        <p>Si aucune garantie de remboursement n’est mentionnée sur la page qui présente le produit, aucun remboursement ne sera effectué après la commande.</p>
    </div>


</div>
{% include '_base/_footer.html.twig' %}