{% extends 'back/dashboard/menu.html.twig' %}

{% block title %}Code Init{% endblock %}

{% block body %}
    <div class="container">
        <div class="row my-3 justify-content-end border">
            <div class="col-12">
                <h2>Ajouter un produit</h2>
                <p>Vous pouvez ajouter un service</p>
                <div>{{ include('back/product/form.html.twig') }}</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}