{% extends 'back/dashboard/menu.html.twig' %}

{% block title %}Code Init{% endblock %}

{% block body %}
    <h2 class="text-center">Modifier un service</h2>
    <p>Vous pouvez ici modifier un service</p>
    <div>{{ include('back/product/form.html.twig') }}</div>
{% endblock %}

{% block javascripts %}
{% endblock %}