{% extends 'back/dashboard/menu.html.twig' %}

{% block title %}Code Init{% endblock %}

{% block body %}

    <div class="container">
        <div class="row my-3 justify-content-end border">
            <div class="col-12">
                <h2>Ajouter une commande</h2>
                <p>Vous pouvez creer une commande</p>
                <div>{{ include('back/order/form.html.twig') }}</div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{% endblock %}