{% extends 'back/dashboard/menu.html.twig' %}

{% block title %}Code Init{% endblock %}

{% block body %}
    <h2 class="text-center">Modifier une Commande</h2>
    <p>Modifier une commande a la demande du client</p>
    <div>{{ include('back/order/form.html.twig') }}</div>
{% endblock %}

{% block javascripts %}
{% endblock %}