{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <img src="{{ asset('build/images/' ~ product.image) }}" class="img-fluid">
            </div>
        </div>
        <div class="row bg-warning">
            <div class="col-12">
                <h1 class="text-white text-center">{{ product.name }}</h1>
            </div>
        </div>
    </div>

{% endblock %}
