<footer class="container-fluid">
    <div class="row bg-dark align-items-center justify-content-between py-3">
        <div class="col-lg-2  small-3 xSmall-4 py-md-2">
            <img src="{{ asset('build/images/LogoCodeInit.png') }}" class="img-fluid medium-4">
        </div>
        <div class="col-lg-3 medium-3 xSmall-6 small-3 text-white hide">
            Code Init &copy 2020 |
            <a href="{{ path('app_mentions') }}" class="text-white text-transform-none">Mentions légales</a>
        </div>
    </div>
</footer>