<footer class="container-fluid">
    <div class="row bg-dark align-items-center justify-content-between py-3">
        <div class="col-1"><img src="{{ asset('build/images/LogoCodeInit.png') }}" class="img-fluid"></div>
        <div class="col-3 font-1 text-white">Code Init &copy 2020 | <a href="#" class="text-white text-transform-none">Mentions légales</a></div>
    </div>
</footer>