{% extends 'base.html.twig' %}

{% block footer %}
    <footer class="container-fluid">
        <div class="row bg-dark align-items-center justify-content-between py-2">
            <div class="col-1"><img src="{{ asset('build/images/LogoCodeInit.png') }}" class="img-fluid"></div>
            <div class="col-1">Code Init &#8212 | <a href="#">Mentions légales</a></div>
        </div>
    </footer>
{% endblock %}