<header class="container-fluid">
        <div class="row py-3" style="background: linear-gradient(180deg,#67A8FF,#66C7FF,#65E9FF)">
            <div class="col-1">
                <img src="{{ asset('build/images/LogoCodeInit2.png') }}" class="img-fluid">
            </div>
        </div>
</header>