
    <header class="container-fluid">
        <div class="row">
            <div class="col-1">
                <img src="" class="img-fluid">
            </div>
            <span onclick="openSlide()" class="col-1"><i class="fa fa-bars fa-2x"></i></span>
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeSlide()">&times;</a>
                <ul>
                    <li>Accueil</li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </header>
    {% block body %}
    {% endblock %}